.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: var(--body_color);
    gap: 3rem;

    .container__wrapper{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 1300px;
        margin: 0 auto;
        margin-top: 2rem;

        .container__wrapper__content{
            width: 55%;
            // height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            b{
                font-size: 1.4rem;
                font-family: var(--font-primary);

                margin-bottom: 1rem;

                &:nth-child(3){
                    margin-top: 2rem;
                }
            }
    
            p{
                font-family: var(--font-second);
                font-size: 1.1rem;
                align-self: flex-start;

                a{
                    text-decoration: none;
                    margin: 0 .2rem;
                    color: #077eb0;
                    transition: all 200ms ease-in;
                    &:hover{
                        color: #065578;
                    }
                }
            }
        }
    
        .container__wrapper__features{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 40%;
            list-style: none;
        }
    }

}

@media screen and (max-width: 968px){

    .container{
        display: flex;
        width: 100%;
        height: auto;
        margin: 1rem auto;

        .container__wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .container__wrapper__content{
                width: 90%;
            }

            .container__wrapper__features{
                margin-top: 2rem;
                width: 80%;
            }
        }
        
    }
}