@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Tajawal&display=swap');


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    position: relative;
    gap: 2rem;
    .container__filter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin: 2rem auto;

        p{
            margin-bottom: 1rem;
            font-family: sans-serif;
            color: var(--body_color);
            &:nth-child(3){
                margin-top: 1rem;
            }
        }

        .container__filter__group{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: auto;
            gap: .5rem;
            // button{ 
            //     border: none;
            //     background-color: rgb(215, 215, 215);
            //     padding: 8px 15px;
            //     transition: all 300ms;
            //     border-radius: 5px;
            //     cursor: pointer;
            //     // @include styleButtonTwo;
            //     // width: auto;
            //     // margin-right: 1rem;

            //     &:hover{
            //         background-color: rgb(200, 200, 200);

            //     }
            // }

            .container__filter__group_active{
                background-color: rgb(200, 200, 200);

            }
        }
    }

    .container__projects{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;

        .container__projects_error{
            color: red;
            font-family: sans-serif;
            margin: 1rem auto;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 968px){
    .container{
        width: 100%;
        margin: 3rem auto;

        h3{
            margin-bottom: 2rem;
        }
        
        .container__group{
            h4{
                align-self: flex-start;
                margin-left: 1rem;
                margin-bottom: 2rem;
            }
        }

        .container__filter{
            width: 100%;
            overflow-x: auto;
            padding: 1rem;
            .container__filter__group{
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: 1rem;
            }
        }

        .container__projects{
            width: 90%;
            margin: 0 auto;
        }
    }
}



