@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');


.Container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.Title{
    font-family: 'Tajawal', sans-serif;
    font-size: 3rem;
}

.hrAbout{
    width: 250px;
    height: 5px;
    background-color: black;
    margin-bottom: 3rem;
}

.Text{
    color: black;
    font-family: 'Mali', cursive;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    height: 400px;
}


.IconSend{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
}

.IconSend svg{
    width: 100%;
    font-size: 15rem;
}

.ContainInputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.InputsLabels{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.InputsLabels label{
    align-self: flex-start;
    margin: 10px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.InputsLabels input{
    width: 100%;
    height: 30px;
    border: none;
    background-color: #d6d4d4;
    padding: 5px;
    outline: none;
    border-radius: 3px;
}

.InputsLabels textarea{
    width: 100%;
    height: 50px;
    border: none;
    resize: none;
    background-color: #d6d4d4;
    padding: 5px;
    outline: none;
    border-radius: 3px;

}

.InputsLabels__error{
    text-align: start;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    margin: 5px;
}


.ContainInputs input[type="button"]{
    font-size: 1.5rem;
    padding: 5px 20px;
    align-self: flex-end;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    transition: all 1s;
    background-color: rgb(148, 10, 10);
    color: white;
}

.ContainInputs input[type="button"]:disabled{
    background-color: transparent;
    color: black;
    cursor: default;
}

.ContainerSend{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.ContainerSend svg{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: green;
}

.ContainerSend h3{
    font-size: 1.5rem;
    font-family: sans-serif;
}

@media screen and (max-width: 968px){
    
    .Container{
        width: 100%;
        margin-bottom: 20rem;
    }
    
    .form{
        width: 90%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .IconSend{
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .ContainInputs{
        width: 100%;
    }
    .Title{
        margin-top: 30px;
    }
    
    .IconSend svg{
        width: 100%;
        font-size: 15rem;
    }

    .InputsLabels{
        width: 100%;
    }
}